# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Code Folder\JavaEEProject_For_practical_training\Computer_course_design_management_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/